.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider img {
  width: 100%;
  max-width: 300px;
  display: none;
}

img.displaySlide {
  display: block;
  animation: fade 1.5s;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: hsl(0, 0%, 50%);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

.prev {
  left: 35%;
}

.next {
  right: 35%;
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}